.carousel-item img {
    border-radius: 10px 10px 11px 10px;
-webkit-border-radius: 10px 10px 11px 10px;
-moz-border-radius: 10px 10px 11px 10px;
border: 2px groove #000000;
}
.carousel-caption {
    text-shadow: 1px 1px 9px rgba(0,0,0,0.81);
}